@page

<h1>ASP.NET Core application</h1>
<h2>Razor Pages</h2>
<h3>App service container</h3>

<ul>
    <li>
        <a href="https://dotnet.microsoft.com/apps/aspnet" target="_blank">ASP.NET Core 2.1</a>
    </li>
    <li>
        <a href="https://hub.docker.com/" target="_blank">Docker Hub</a>
    </li>
    <li>
        <a href="https://azure.microsoft.com/en-us/services/app-service/web/" target="_blank">Azure App Service</a>
    </li>
</ul>

<div>
    <img src="https://www.enqos.com/wp-content/uploads/2017/04/Asp-core.png" alt=""/>
</div>